<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740385812092-p3bljsl03ur7o16vjhn1c6qeei439r83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740385812092-p3bljsl03ur7o16vjhn1c6qeei439r83</string>
	<key>API_KEY</key>
	<string>AIzaSyC8JcDfL9X42T63wHs21O8ZNIPe5SN5GMs</string>
	<key>GCM_SENDER_ID</key>
	<string>740385812092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitConnects</string>
	<key>PROJECT_ID</key>
	<string>vitconnects</string>
	<key>STORAGE_BUCKET</key>
	<string>vitconnects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740385812092:ios:c9755fa31ea4d8307963f9</string>
</dict>
</plist>